RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^php/frontController/(.*)$. frontController/index.php
# RewriteRule ^http:\/\/localhost\/php\/frontController(.*)$ http://localhost/php/frontController/index.php
RewriteRule ^(.*)$ index.php
